body {
    background-color: var(--CordeFundo);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}

.conteiner {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.cartao {
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    height: 280px;
    width: 29rem;
    flex-direction: column;
    background-color: var(--CordoCard);
    padding: 33px;
}

.numeracao {
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: var(--CordoBotãoCardTexto);
}

.conselho {
    font-size: 24px;
    text-align: center;
    color: var(--CordoTexto);
}

.separacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.separacao hr {
    width: 40%;
    opacity: 0.2;
}

.separacao p {
    font-size: 20px;
    color: #FFF;
}

.botao {
    position: relative;
    bottom: 25px;
    display: flex;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: var(--CordoBotãoCardTexto);
    justify-content: center;
}

.botao:hover {
    background-color: crimson;
}

.dado {
    padding: 10px;
}

@media(max-width:530px){
    .cartao{
        min-width: 200px;
        max-width: 80%;
    }
    .conselho{
        font-size: 18px;
    }
}